@import '../shared/style/colours.scss';
@import '../shared/style/variables.scss';

.container{
    position: absolute;
    padding-top: 2em;
    top: $nav-height;
    background-color: $light-cyan;
    width: 100%;
}